<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gender Finder</title>
    <link rel="stylesheet" href="/style.css"> <!-- Updated path to style.css -->
</head>

<body>
	<h1>Searched Results</h1>
	<div>
		<%- table %>
	</div>
    <hr>
    <br>
    <br>
    <a href="/">HOME</a>
</body>

</html>
