<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gender Guess</title>
    <link rel="stylesheet" href="/style.css"> <!-- Updated path to style.css -->
</head>
<body>
    <h1 class="bodytitle">Gender Finder</h1>
    Predict the gender classification given a name!<br><br>
    Find predicted gender: <a href="/findGender">here</a><br></li>
    View searched names: <a href="/history">here</a><br></li>
</body>
</html>
