<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gender Finder</title>
    <link rel="stylesheet" href="/style.css"> <!-- Updated path to style.css -->
</head>
<body>
    <h1 class="bodytitle">Results!</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Likely Gender: </strong><%- gender %><br>
		<strong>Confidence (0.00 - 1.00): </strong><%- probability %><br>
	</div>
    <br>
    <br>
    <a href="/">HOME</a>
</body>
</html>
